<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Harvester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <Harvester.Properties.Settings>
            <setting name="RecursiveSources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>S:\DCIM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Sources" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Users\Administrator\Pictures\Photo Stream\My Photo Stream</string>
                        <string>C:\Users\Administrator\Dropbox\Camera Uploads</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>C:\Users\Administrator\PictureLibrary\Processing\Queue</value>
            </setting>
            <setting name="Temp" serializeAs="String">
                <value>C:\Users\Administrator\PictureLibrary\Processing\Inbox</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>.\Harvester.log</value>
            </setting>
        </Harvester.Properties.Settings>
    </applicationSettings>
</configuration>